.Funding__heading-flex {
  display: flex;
  justify-content: space-between;
}

.Funding__heading-links {
  margin-top: 8px;
}

.Funding__heading-link {
  color: $tnw-red;
}

.Funding__heading-link:hover {
  color: $tnw-black;
  text-decoration: none;
}

.Funding__heading-divider {
  color: $tnw-red;
  margin: 0 5px;
}

.Funding__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding-left: 0px;
}

.Funding__story {
  position: relative;
  background-color: #fffaf7;
}

.Funding__story-image {
  height: 60px;
  width: 60px;
  position: absolute;
  margin: 15px;
}

$funding__story-padding: 11px 16px 11px 90px;

.Funding__story-name {
  padding: $funding__story-padding;
  color: white;
  font-weight: 700;
  background-color: $tnw-red;
  margin: 0px;
}

.Funding__story-deets {
  background-color: #ffece8;
  padding: $funding__story-padding;
}

.Funding__story-amount {
  font-weight: 900;
  margin-bottom: 0px;
}

.Funding__story-series {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.Funding__story-card {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.Funding__story-tag {
  display: inline-block;
  color: $tnw-black;
  font-size: 0.85em;
  font-weight: 300;
  margin-bottom: 8px;
  opacity: 80%;
}

.Funding__story-tag:hover {
  opacity: 100%;
  color: $tnw-black;
  text-decoration: none;
}

.Funding__story-tag-icon {
  margin-right: 8px;
}

.Funding__story-card-divider {
  margin: 0;
  background-color: lighten($tnw-red, 30);
}

.Funding__story-title-link {
  color: $tnw-black;
  font-size: 0.8em;
}

.Funding__story-title-link:hover {
  color: $tnw-black;
  text-decoration: none;
}

.Funding__story-title-link--source {
  color: $tnw-grey;
}

@media (max-width: 768px) {
  .Funding__heading-flex {
    flex-direction: column;
  }

  .Funding__grid {
    grid-template-columns: 1fr;
  }
}
