.HeadingLink {
  display: flex;
  align-items: center;
  color: $tnw-red;
  font-weight: 700;
}

.HeadingLink:hover {
  color: $tnw-black;
  text-decoration: none;
}

.HeadingLink__icon {
  font-size: 0.5em;
  margin-left: 8px;
  margin-top: 5px;
}

.HeadingLink__flex-container {
  display: flex;
  justify-content: space-between;
}

.HeadingLink__small-links {
  margin-top: 8px;
}

.HeadingLink__small-link {
  color: $tnw-red;
}

.HeadingLink__small-link:hover {
  color: $tnw-black;
  text-decoration: none;
}

.Grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
  .HeadingLink__flex-container {
    flex-direction: column;
  }

  .Grid4 {
    grid-template-columns: 1fr;
  }

  .Grid4__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
  }
}
