@import '../node_modules/bootstrap/scss/bootstrap';
$tnw-black: #131313;
$ntw-grey: #aaa;

.Nav {
  position: fixed;
  background: #ffffff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}

.Nav__secondary {
  display: none;
}

.Nav__main {
  display: flex;
  justify-content: space-between;
}

.Nav__main-container {
  display: flex;
}

.Nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.Nav__main-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 25px;
}

.Nav__main-link {
  text-transform: uppercase;
  color: $ntw-grey;
  font-weight: 500;
  margin-right: 15px;
}

.Nav__main-link:hover {
  color: $tnw-black;
  text-decoration: none;
}

.Nav__main-icons {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .Nav__secondary {
    display: flex;
    padding: 0px 20px;
    margin-bottom: 0px;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    background: $tnw-black;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2;
  }

  .Nav__general {
    display: flex;
  }

  .Nav__company {
    display: flex;
  }

  .Nav__small-link {
    margin-right: 12px;
    color: $ntw-grey;
  }

  .Nav__small-link:hover {
    color: white;
    text-decoration: none;
  }

  .nav-tnw {
    background: #131313;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2;
  }
}
