@import '../node_modules/bootstrap/scss/bootstrap';
$tnw-black: #131313;
$ntw-grey: rgba(255, 255, 255, 0.6);

.Nav__secondary {
  display: none;
}

@media (min-width: 768px) {
  .Nav__secondary {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    background: $tnw-black;
    color: $ntw-grey;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2;
  }

  .Nav__general {
    display: flex;
  }

  .Nav__company {
    display: flex;
  }

  .Nav__small-link {
    margin-right: 12px;
  }

  .nav-tnw {
    background: #131313;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    max-height: 32px;
    position: relative;
    z-index: 2;
  }
}
